@charset "UTF-8";
/* =========================================================
 DEFAULT STYLE
========================================================= */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-size: 10px;
  font-size: 1rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
  color: #4C4C4C;
}

@media print {
  body {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

p {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  color: #4C4C4C;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #b2b2b2;
}
a.fadeAlpha {
  color: #4C4C4C;
}
a img {
  border: none;
}

.cf:after {
  content: '';
  clear: both;
  display: block;
}

.fadeAlpha.over * {
  opacity: .7;
}
.fadeAlpha.out * {
  transition: opacity .2s ease-in;
  opacity: 1;
}
